# dotenv-linter:off UnorderedKey
# FIST_YAML_FILE="./src/config.yml"
# FIST_YAML_FILE_ENCODING="utf-8"
# FIST_PROJECT_NAME="FIST"
# FIST_BASE_URL=http://localhost:4000
# FIST_TEXTDOMAIN=messages
# FIST_LOCALE_DIR="./i18n"
# FIST_OUTPUT_DIR="./out"
# FIST_SUBFOLDER=
# FIST_ARTIFACT="bundle.json"
# FIST_AUTHOR_ALIAS=NICS
# FIST_AUTHOR_NAME="National Institute of Cyber Security"
# FIST_AUTHOR_EMAIL="nicscda@nics.nat.gov.tw"
# FIST_DEBUG=
# LANGUAGE=
